@{
    ViewData["Title"] = "Home Page";
}

@section Script {
    <script type="text/javascript" src="~/js/Game_Controller.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.js"></script>
    <script type="text/javascript" src="~/js/PIXI.TextInput/dist/PIXI.TextInput.min.js"></script>
    <script type="text/javascript" src="~/js/PixiTextInput/src/PixiTextInput.js"></script>"
    <script type="text/javascript" src="~/js/Logic.js"></script>
    <script type="text/javascript" src="~/js/Setup.js"></script>
    <script type="text/javascript" src="~/js/Button.js"></script>

    <script type="text/javascript" src="~/js/Meteor.js"></script>
    <script type="text/javascript">
        var game_controller;
        $(function () {
            game_controller = new Game_Controller();
            console.log(game_controller);
            game_controller.main();

        });
    </script>

    <div id="canvas_div"></div>

}
