<h1>Features</h1>
<p>Hi, we're the Kaelin Hoang and Khanhly Nguyen, otherwise known as the Keyboard Kardashians. The typing game we created
    is built primarily using PIXI.js with 3 main components:
    <ul>
        <li>The database</li>
        <li>The controllers</li>
        <li>The game logic</li>
    </ul>
    Our game tests the player's typing abilities by having a series of words fall from the screen and the user is tasked 
    with successfully typing words associated to each meteor in order to accumulate points. The player also has the 
    opportunity to buy a "clear screen" button in which all the meteors currently on the screen will disappear at a cost 
    of 50 points. This is a tradeoff between lives and a high score so the player should choose wisely.

    The premise of the game is to destroy as many falling meteors as possible to obtain a high score. Each meteor has an 
    associated word and the player is tasked with destroying as many meteors as possible as seen below:

    <img src="~/Resources/falling_meteors.png" />
    
    Each player is given 4 lives which we track with a list of dinosaurs. When a player loses a life, we remove the last 
    dinosaur from our list and we constantly check if the list is empty. When all lives are lost, a game over message is 
    displayed along with their name and their high score.

    </p>
<h1>Instructions</h1>
<p></p>
<h1>Backend</h1>
